<div class="home__container">
  <app-card gameLabel="Digital" gameType="DIGITAL | PS$" gamePrice="RS 129,99" gameCover="../assets/bt-1.jpg"></app-card>
  <app-card gameLabel="EXCLUSIVE" gameType="DISC | PS5" gamePrice="RS 181,10" gameCover="../assets/bt-4.jpg"></app-card>
  <app-card gameLabel="EXCLUSIVE" gameType="DISC | PS5" gamePrice="RS 181,10" gameCover="../assets/ac-cover.jpg"></app-card>
  <app-card gameLabel="NEW" gameType="DISC | PS4 PS5" gamePrice="RS 369,99" gameCover="../assets/bt-hardline.jpg"></app-card>
</div>
